body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img {
    height: 60px;
}
nav a {
    margin: 0 2rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a:hover {
    color: #007B33;
}
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.main-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.main-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.cta-buttons {
    position: relative;
    display: inline-block;
    margin: 0.5rem;
}
.cta-buttons a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: #007B33;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; 
    text-align: center;
}
.cta-buttons a:hover {
    background-color: #005922;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    animation: dropdownAnimation 0.3s ease forwards;
    width: 150px; 
}
.dropdown a {
    position: relative;
    left: -50px;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s ease;
}
.dropdown a:last-child {
    border-bottom: none;
}
.dropdown a:hover {
    background-color: #f9f9f9;
}
.cta-buttons:hover .dropdown {
    display: block;
}
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("F:/College/Projects/git tournament/TeamManager/static/Images/Football.jpg");
    background-size: cover;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: overlay; 
 }
 @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
header, .main-section {
    animation: fadeIn 1s ease-in-out;
}

 