

    
  .topnav {
    background-color: #050505; /* Jet black background color */
    padding: 1.5em; /* Increase the padding to make the nav bar thicker */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #30363d;
  }
  
  .nav-center {
    flex: 1;
  }
  
  .nav-center h2 {
    color: #c9d1d9;
    margin: 0;
    font-weight: bold;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Move the coach dashboard towards the right */
  }
  
  .nav-right a {
    margin-right: 20px;
    color: #c9d1d9;
    transition: color 0.2s ease, background-color 0.2s ease; /* Add transition for hover animations */
  }
  
  .nav-right a.active {
    font-weight: bold;
    color: #58a6ff;
  }
  
  .nav-right a:hover {
    color: #fff;
    background-color: #161b22; /* Dark gray hover color */
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #161b22;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #30363d;
  }
  
  .dropdown-content a {
    color: #c9d1d9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease, background-color 0.2s ease; /* Add transition for hover animations */
  }
  
  .dropdown-content a:hover {
    color: #fff;
    background-color: #1a1d23; /* Dark gray hover color */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dropbtn {
    background-color: #161b22;
    color: #c9d1d9;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease; /* Add transition for hover animations */
  }
  
  .dropbtn:hover {
    background-color: #3e8e41;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #c9d1d9;
    background-color: #0d0d0d;
}

a {
    text-decoration: none;
    color: #58a6ff;
    outline: none;
}

a:hover {
    color: #4f97d7;
}


.content-container {
    background-color: #161b22;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #161b22;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



h1 {
    font-size: 24px;
    font-weight: bold;
    color: #58a6ff;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
}

button {
    background-color: #58a6ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
}

button:hover {
    background-color: #1a1d23;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #161b22;
    border-radius: 10px;
    width: 200px;
}

#group-code-message, #join-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#group-code-message.success, #join-message.success {
    color: #0f0;
}

#group-code-message.error, #join-message.error {
    color: #f00;
}

/* Button Styles */

button {
    background-color: #161b22;
    color: #c9d1d9;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #1a1d23;
  }
  
  button:active {
    background-color: #1f2329;
  }
  
  /* Text Input Styles */
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a1d23;
    color: #c9d1d9;
  }
  
  input[type="text"]:focus {
    background-color: #1f2329;
  }
  
  /* Create Tournament Button Styles */
  
  #create-group-btn {
    background-color: #58a6ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #create-group-btn:hover {
    background-color: #4f97d7;
  }
  
  /* Join Tournament Button Styles */
  
  #join-group-btn {
    background-color: #58a6ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #join-group-btn:hover {
    background-color: #4f97d7;
  }
  
  /* Tournament Code Input Styles */
  
  #tournament-code-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a1d23;
    color: #c9d1d9;
  }
  
  #tournament-code-input:focus {
    background-color: #1f2329;
  }
  #home-link {
    color: #c9d1d9;
    transition: color 0.2s ease, background-color 0.2s ease;
}
  #home-link:hover {
    color: #fff;
    background-color: #161b22;
    border-radius: 10px;
}