<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='group.css') }}">

    
</head>
<body>
    <div class="topnav">
        <div class="nav-center">
            <h2>Coach Dashboard</h2>
        </div>
        <div class="nav-right">
            <a href="/coach_client" class="home">Home</a>
            <a class="active" href="/create_team" id="groups-link">Teams</a>
            <a href="/create_tournament" id="groups-link">Tornaments</a>
            <div class="dropdown">
                <button class="dropbtn">Account ({{ username }})
                    <i class="arrow down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </div> 
    <div class="main-content">
        <div class="content-container">
            <h1 class="welcome">Welcome! Create a Group Here</h1>
            <form action="{{url_for("create_team")}}" method="POST">
                <div class="form-group">
                    <label for="team-id">Enter Team Name:</label>
                    <input type="text" id="team-id" placeholder="Team Name" name="team-name" required>
                </div>
                <div class="form-group">
                    <label>Your Team Code:</label>
                    <p><span class="group-code">{{ groupCode }}</span></p>
                </div>
                <br>
                <button type="submit" class="submit-btn" id="create-group-btn">Create Group</button>
            </form>
            <br>


            <a href="/coach_client" id="home-link">Go to Homepage</a>
        </div>
    </div>


</body>
</html>