<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kickoff Manager</title>
    <link rel="stylesheet" href="F:\College\Projects\git tournament\TeamManager\static\landing_c.css">
</head>
<body>
    <header>
        <img src="F:\College\Projects\git tournament\TeamManager\static\Images\Logo.png" >
        <nav>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <main class="main-section">
        <h1>Welcome to Kickoff Manager</h1>
        <p>Your ultimate tool to organize and manage tournaments effortlessly.</p>
        <div class="cta-buttons">
            <a href="/register">Get Started</a>
            <a href="/login">Log In</a>
        </div>
    </main>
</body>
</html>
