<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script type= "text/javascript "src="{{ url_for('static', filename='jaba.js') }}" ></script>
</head>
<body>
    <div class="container-login">
        <div class="tab-container">
            <div id="student-tab" class="tab active" onclick="showTab('student')">Student</div>
            <div id="coach-tab" class="tab" onclick="showTab('coach')">Coach</div>
        </div>
        {% if error %}
            <p>{{ error }}
        {% endif %}
        <form action="{{url_for("login")}}" method="POST">
            <input type="hidden" id="role" name="role" value="student"> <!-- role has the student or coach info -->
            <div id="student-content" class="tab-content active">
                <div class="input">
                    <label for="student-email">Student Username</label>
                    <input type="text" id="student-email" name="username" required>
                </div>
                <div class="input">
                    <label for="student-password">Enter Password</label>
                    <input type="password" id="student-password" name="passowrd" required>
                </div>
            </div>
            <div id="coach-content" class="tab-content">
                <div class="input">
                    <label for="coach-email">Coach Username </label>
                    <input type="text" id="coach-email" name="username" required>
                </div>
                <div class="input">
                    <label for="coach-password">Enter Password</label>
                    <input type="password" id="coach-password" name="password" required>
                </div>
            </div>
            <button type="submit" class="submit-btn">Log In</button>
        </form>
        <div class="footer-text">
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </div>


</body>
</html>
