<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">

</head>
<style>
    @font-face {
font-family:gotham ;
src: url("{{ url_for('static', filename='gotham.ttf') }}");
}
body {
font-family: gotham ;
letter-spacing: 0.5px;
line-height: 1.6;
color: #333;
background-color: #f5f5f5;
}
</style>
<body>
    
    <div class="topnav">
        <div class="nav-center">
            <h2>Team Dashboard</h2>
        </div>
        <div class="nav-right">
            <a href="/coach_client">Back to Dashboard </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Delete Team
                <i class="arrow down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/delete/{{team_code}}"> Delete </a>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <div class="left-section">
            
            <h1>Team: {{ team_name }} | Code: {{team_code}}</h1>
            
            
    
            <h2>Players</h2>
            <ul id="team-players">
                {% for player in players %}
                <li class="player-item">
                    <span class="arrow-icon"></span>
                    <span class="player-name">{{player}}</span>
                    <div class="player-dropdown">
                        <button class="player-dropbtn" onclick="toggleDropdown(this)">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </button>
                        <div class="player-dropdown-content">
                            <a href="">Delete</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="right-section">
        
            
                <h2>Team Chat</h2>
                <div class="content">
                    <div class="message-box">
                        <div class="messages", id="messages">

                        </div>
                        <div class= "inputs">
                            <input type="text", rows ="3", placeholder="Message", name="message", id="message">
                            <button type="button", name="send", id="send-btn", onclick="sendMessage()">send</button>
                        </div>
                    </div>
                </div>
            
                
    </div>
    </div>

    <script>
         function toggleDropdown(button) {
            document.querySelectorAll('.player-dropdown').forEach(dropdown => {
                if (dropdown !== button.parentElement) {
                    dropdown.classList.remove('active');
                }
            });
            
            button.parentElement.classList.toggle('active');
        }
        document.addEventListener('click', function(event) {
            if (!event.target.closest('.player-dropdown')) {
                document.querySelectorAll('.player-dropdown').forEach(dropdown => {
                    dropdown.classList.remove('active');
                });
            }
        });

            document.getElementById("message").addEventListener("keydown", function (event) {
            if (event.keyCode === 13) {
                document.getElementById("send-btn").click();
            }
        });

        var socketio = io()

        const messages = document.getElementById("messages")

        const createMessage = (name, msg) => {
            const content = `
            <div class ="text">
                <span>
                    <strong> ${name} </strong>: ${msg} 
                </span> 
                <span class="muted">
                    ${new Date().toLocaleString()}
                </span>
            </div>
            `
            messages.innerHTML+=content;
        };

        socketio.on("message", (data) => {
            createMessage(data.name, data.message);
        });


        const sendMessage = () => {
            const message = document.getElementById("message");
            if(message.value == "") return;
            socketio.emit("message", {data: message.value});
            message.value = "";
        };

    </script>

    {% for msg in messages %}
            <script type = "text/javascript">
                createMessage("{{ msg.name }}", "{{ msg.message }}");
            </script>
    {% endfor %}
</body>
</html>
