<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tournament</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tornament_create.css') }}">


</head>
<style>
    @font-face {
font-family:gotham ;
src: url("{{ url_for('static', filename='gotham.ttf') }}");
}
body {
font-family: gotham ;
letter-spacing: 0.5px;
line-height: 1.6;
color: #333;
background-color: #f5f5f5;
}
</style>
<body>
    <div class="topnav">
        <div class="nav-center">
            <h2>Coach Dashboard</h2>
        </div>
        <div class="nav-right">
            <a href="/coach_client" class="home">Home</a>
            <a href="/create_team" id="groups-link">Teams</a>
            <a class="active"href="/create_tournament" id="groups-link">Tornaments</a>
            <div class="dropdown">
                <button class="dropbtn">Account ({{ username }})
                    <i class="arrow down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </div>  
    <div class="content">
        <div class="content-container">
            <h1>Welcome! Join a Tournament</h1>
            
        <form action="{{url_for("join_tournament")}}" method="POST">

            <input type="text" id="tournament-coach-id" name="tournament-coach-input" placeholder="Enter Coach Name" required>
            <br>
            <input type="text" id="tournament-code-id" name="tournament-code-input" placeholder="Enter Tournament Code" required>
            <br>
            <br>
            <button type="submit" class="submit-btn" id="create-group-btn">Join Tournament</button>
            <p id="join-message"></p>
        </form>
            <br>
            <br>
            <a href="/create_tournament" id="home-link">Create a Tournament</a>
            <br>
            <a href="/coach_client" id="home-link">Go to Homepage</a>
        </div>
    </div>


</body>
</html>
