<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tournament</title>
    <link rel="stylesheet" href="F:\College\Projects\git tournament\TeamManager\static\tornament_create.css">

</head>
<body>
    <div class="topnav">
        <div class="nav-center">
            <h2>Coach Dashboard</h2>
        </div>
        <div class="nav-right">
            <a href="/coach_client" class="home">Home</a>
            <a href="/create_team" id="groups-link">Teams</a>
            <a class="active"href="/create_tournament" id="groups-link">Tornaments</a>
            <div class="dropdown">
                <button class="dropbtn">Account ({{ username }})
                    <i class="arrow down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </div>  
    <div class="content">
        <div class="content-container">
            <h1>Welcome! Create or Join a Tournament</h1>
            
            <h2>Create a Tournament:</h2>
            <br>
            <form action="{{url_for("create_tournament")}}" method="POST">
                <div class="form-group">
                    <label for="team-id">Enter Tournament Name:</label>
                    <input type="text" id="tournament-id" placeholder="Tournament Name" name="tournament-name" required>
                </div>
                <div class="form-group">
                    <label>Your Tournament Code: <b id="group-code-message">{{ tournamentCode }}</b></label>
                    
                </div>
                <br>
                <button type="submit" class="submit-btn" id="create-group-btn">Create Tournament</button>
            </form>
 

            

            

            <br>
            <h2>Join a Tournament:</h2>
            <br>
            <input type="text" id="tournament-code-input" placeholder="Enter Tournament Code">
            <br>
            <br>
            <button id="create-group-btn">Join Tournament</button>
            <p id="join-message"></p>

            <br>
            <a href="/coach_client" id="home-link">Go to Homepage</a>
        </div>
    </div>


</body>
</html>
