<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tournament1.css') }}">
    <script type= "text/javascript "src="{{ url_for('static', filename='tournament.js') }}" ></script>
</head>
<style>
    @font-face {
font-family:gotham ;
src: url("{{ url_for('static', filename='gotham.ttf') }}");
}
body {
font-family: gotham ;
letter-spacing: 0.5px;
line-height: 1.6;
color: #333;
background-color: #f5f5f5;
}
</style>
<body>
    <div class="topnav">
        <div class="nav-center">
            <h2>Tournament</h2>
        </div>
        <div class="nav-right">
            <a href="/coach_client" class="home">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Account ({{ username }})
                    <i class="arrow down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </div>  

    <h1 style="text-align: center;">{{ tournament_name }}</h1>

    <div id="bracket"></div>
</body>
</html>
